<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="checker-headliner">Image Checker</h1>
    <form action="/upload" enctype="multipart/form-data" method="post" class="checker-form">
        <label class="checker-label" for="img">Upload your pics here</label>
        <input class="checker-int-file" type="file" name="image" id="img">
        <input class="checker-int-submit" type="submit" value="Send your pics">
    </form>

    <img src="/public/1657870886367.jpg" alt="" srcset="">
</body>
</html>