<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="checker-headliner">Welcome your picture was scaned <%= status %> </h1>
    <div class="checker-wrapper">

    
    <div class="checker-wrapper-text">
        <p class="checker-text"> Tags: </p>
        <% tags.forEach(el => { %> 
            <p class="checker-text">*<%= el.tag.en %></p>
        <%})%>
    </div>
    <img class="checker-wrapper-img" src="/public/img/<%= img %>" alt="" srcset="">
    <a href="/"><button class="checker-wrapper-btn">Try Again</button></a>
</div>

</body>
</html>